<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <%- include('pertials/header.ejs') %>
    <section class="">
        <div class="container">
            <form method="POST" action="/login"  id="add_user_form">
                <div class="single_input">
                    <input type="number" value="" name="mobile" placeholder="mobile">
                </div>
                <div class="single_input">
                    <input type="password" name="password" placeholder="password">
                </div>
                <input type="submit" value="Log in">
            </form>
        </div>
    </section>

</body>
</html>